{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
          {{ utils.flashed_messages() }}
      <div class="inner">
        <div class="center">
            <h1> Change Password </h1>
            <br/>
            <p>
                Select a new password for
                <span style="color: #aec251;">
                    {{ employee.name }}
                </span>
            </p>
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
