<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br>
    <br>
    <h2><b>Search Employee</b></h2>
  <br>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
    <br>
     <table class="table table-striped table-bordered" >
              <thead bgcolor="#aec251">
                <tr>
                  <th width="10%"> Id </th>
                  <th width="10%"> Name </th>
                  <th width="30%"> Designation </th>
                  <th width="30%"> Manager </th>
                    <th width="10%"> Age </th>


                </tr>
              </thead>
              <tbody id="myList">
              {% for employee in employees %}
                {% if employee.is_admin %}
                {% else %}
                    <tr>
                      <td>
                        {{ employee['id'] }}
                      </td>
                      <td>
                        {{ employee['name'] }}
                      </td>
                      <td>
                        {% if employee['designation'] %}
                          {{ employee['designation']}}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {% if employee['manager'] %}
                          {{ employee['manager'] }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                         <td>
                        {% if employee['age'] %}
                          {{ employee['age']}}
                        {% else %}
                          -
                        {% endif %}
                      </td>

                    </tr>

                {% endif %}

              {% endfor %}
              </tbody>
            </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
