{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The Dashboard</h1>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
        <center>

        </center>

    </div>
</div>
{% endblock %}
