


 <!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Project Dream Team</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1> 500 Error </h1>
                    <h3> The server encountered an internal error. That's all we know. </h3>
                    <p>We got an error: {{ error }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
 </html>
