<!doctype html>
<html>
   <body>
    <style>
    .back{
   background-color: #aec251;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    }
</style>
      <h2 style = "text-align: center;">Form</h2>
      {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}


      <form action = "http://localhost:5000/del" method = post>
         <fieldset>
            <legend>Form</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
            <br>
<center>
     <a class="back" href="{{ url_for('back_emp') }}">Back</a>
</center>

      </form>
   </body>
</html>
