<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <h3 >Employees List</h3>
 <br>

      <table border="2" padding = "5" align="center">
         <thead>
            <tr>
               <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Address</th>
                <th>Number</th>
               <th>age</th>
            </tr>
         </thead>

         <tbody>
                <tr>
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.designation }}</td>
                   <td>{{ employee.salary }}</td>
                     <td>{{ employee.address }}</td>
                  <td>{{ employee.pNumber }}</td>
                  <td>{{ employee.age }}</td>
               </tr>
         </tbody>
      </table>
  <br>
  <br>
   <br>
<center>
     <a href="{{ url_for('back_emp') }}">Back</a>
</center>
  <br>
  <br>
</body>
</html>
