<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">Assesment Form</h2>

      {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}


      <form action = "http://localhost:5000/feedback" method = post>
         <fieldset>
            <legend>Assesment Form</legend>
            {{ form.hidden_tag() }}
              {{ form.hidden_tag() }}
                  {{form.name.label}}<br>
                <br>
                {{form.name}}
                <br>
                <br>

    {{ form.example }}
    <br>
                <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
   <br>
<center>
     <a href="{{ url_for('back_emp') }}">Back</a>
</center>

   </body>
</html>


