<!doctype html>
<html>
   <body>
    <style>
    .back{
   background-color: #aec251;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    }
</style>
      <h2 style = "text-align: center;">Feedback Form</h2>

    {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}


      <form action = "http://localhost:5000/feedback" method = post>
         <fieldset>
            <legend>Feedback Form</legend>
            {{ form.hidden_tag() }}


               {{ form.name.label }}<br>
               {{ form.name }}
               <br>

                 {{ form.feedback.label }}<br>
               {{ form.feedback }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
      <br>
<center>
     <a class="back" href="{{ url_for('back_emp') }}">Back</a>
</center>
   </body>
</html>
