<!DOCTYPE html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        
        <form action="postUser" method="POST" role="form">
            <legend>Add Your Details</legend>
        
            <div class="form-group" style="text-align:center;">
                <br/>
                <!-- <label for="firstName">First Name</label> -->
                <input type="text" name="firstName" required class="form-control" id="" placeholder="First Name here">
                <br/>
                <!-- <label for="firstName">Last Name</label> -->
                <input type="text" name="lastName" required class="form-control" id="" placeholder="Last Name here">
                <br/>
                <!-- <label for="firstName">Email</label> -->
                <input type="text" name="email" required class="form-control" id="" placeholder="Email here">
                <br/>
                <!-- <label for="firstName">Contact #</label> -->
                <input type="text" name="contact" required maxlength="10" class="form-control" id="" placeholder="Contact here">
                <br/>
                <input type="text" name="address" id="address" class="form-control" placeholder="Address Here">
            </div>
            <div style="text-align:center">
                <button type="submit" style="background-color:green;color:white" class="btn btn-primary">Add User</button>
            </div>
        </form>
    </body>
</html>