<!DOCTYPE html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.contact}}</td>
                        
                        <td>
                            <form action="{{user.id}}" method="GET" width="100%" style="text-align:center;">
                                <span class="input-group-btn">
                                    <button id=update{{user.id}} style="background-color:gray;color:white" type="submit" class="btn btn-default">Update</button>
                                </span>
                            </form>
                        </td>
                        <td>
                            <form action="deleteUser/{{user.id}}" method="POST" width="100%" style="text-align:center;">
                                <span class="input-group-btn">
                                    <button style="background-color:red;color:white" id=delete{{user.id}} type="submit" class="btn btn-default">Delete</button>
                                </span>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                
        <form action="form" width="100%" style="text-align:center;">
            <span class="input-group-btn">
                <button type="submit" style="background-color:green;color:white" class="btn btn-default">Add a User</button>
            </span>
        </form>

        
    </body>
</html>