<head>
    <title>{{ title }} | Project Dream Team</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
   <br>
 <br>
 <br>
 <h3 >Employees List</h3>
 <br>

     <table border="2" padding = "5" align="center">
         <thead>
            <tr>
               <th>Name</th>
                <th>Designation</th>
               <th>age</th>
            </tr>
         </thead>

         <tbody>
            {% for x in rows %}
            <tr>

                  <td><a  href="{{ url_for('displayEmp',employee=x) }}"  >{{ x.name }}</a></td>
                  <td>{{ x.designation }}</td>
                  <td>{{ x.age }}</td>
               </tr>
            {% endfor %}
         </tr>
         </tbody>
      </table>
<br>
 <br>
<center>
     <a href="{{ url_for('back_emp') }}">Back</a>
</center>
</body>
