<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">Search Form</h2>
      <form action = "http://localhost:5000/search" method = post>
         <fieldset>
            <legend>Search Form</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
    <br>
<center>
     <a href="{{ url_for('back_emp') }}">Back</a>
</center>
   </body>
</html>
